@media screen and (max-width: 1440px) {
.home{
    @include flexCenter(column);
    max-width: 100%;
    height: 70vh;
    background-size: 300%; 
    background: linear-gradient(
        to right, 
        rgba($first-red, 0.9),
        rgba($light-red, .85)
    ), url('/images/bg-pattern-intro.svg') 45% 45% no-repeat;
    border-bottom-left-radius: 60px;
    position:relative;
        &__logo{
            flex-shrink: 1;
        }
        &__hamburger{
            display:none;
        }
        &__close{
            display:none;
        }
}
nav{
    @include navMenu(row);
    flex: 0 0 auto;
    margin-top: -5%;
    width: 80%;
    position: relative;
}
.dropdown{
    @include flexCenter(row);
    margin-left: -15%;
    flex-grow: 5;
    &__wrapper{
    margin: 0 -2% 0 5%;
    }
        &__btn{
            @include flexCenter(row);
            @include defaultBtns;
            color: $white;
            padding: 14px;
            font-size: $font-size;
            border: 20px; 
            font-family: $Ubuntu;
            font-weight: map-get($font-weights, "extra-bold" );
            cursor:pointer;
        }
        &__btn i{
            margin: 20% 0 0 7%;
        }
        &__btn i:nth-child(2){
            display:none
        }
            &__content{
                @include flexCenter(column);
                display: none;
                position: absolute;
                width: 150px;
                height: 135px;
                background-color: $white;
                box-shadow: 0 5px 25px 2px rgba(0, 0, 0, .2);
                border-radius: 5px;
            }
            &__content2{
                @include flexCenter(column);
                display:none;
                position: absolute;
                width: 150px;
                height: 135px;
                background-color: $white;
                box-shadow: 0 5px 25px 2px rgba(0, 0, 0, .2);
                border-radius: 5px;
            }
            &__content3{
                @include flexCenter(column);
                display:none;
                position: absolute;
                width: 150px;
                height: 135px;
                background-color: $white;
                box-shadow: 0 5px 25px 2px rgba(0, 0, 0, .2);
                border-radius: 5px;
            }
            #content:hover {
                text-decoration: underline;    
            }
            &__content ul li {
                color: $dark-gray;
                margin: 10% 0 15% 10%;
                list-style: none;
            }
            &__content ul li:hover{
                font-weight: 800;
                color: $dark-gray;
            }
            &__content2 ul li {
                color: $dark-gray;
                margin: 10% 0 15% 10%;
                list-style: none;
            }
            &__content2 ul li:hover{
                font-weight: 800;
                color: $dark-gray;
            }
            &__content3 ul li {
                color: $dark-gray;
                margin: 10% 0 15% 10%;
                list-style: none;
            }
            &__content3 ul li:hover{
                font-weight: 800;
                color: $dark-gray;
            }
            #menu1:hover &__content{
                display:block;
            }
            #menu2:hover &__content2{
                display:block;
            }
            #menu3:hover &__content3{
                display:block;
            }
        }
.signin{
    @include flexCenter(row);
    flex-grow: 2;
    justify-content: end;
         &__btn{
            @include defaultBtns;
            width: 100px;
            height: 35px;
            margin-right: 3%;
            cursor: pointer;
            border-radius: 35px;
            border: none;
            font-family: $Ubuntu;
            font-weight: map-get($font-weights, "extra-bold" );
            }
            &__btn:nth-child(1){
                color: $white;
            }
                &__btn:nth-child(1):hover{
                    background-color: $white !important;
                    color: $hover-light-red;    
                }
            &__btn:nth-child(2){
                background-color: $white !important;
                color: $hover-light-red;
            }
                &__btn:nth-child(2):hover{
                    background-color: $hover-light-red !important;
                    color: $white;
                }
}
a{
    text-decoration: none;
    font-family: $Ubuntu;
    color: $body-copy;
}
hgroup{
    @include flexCenter(column);
    font-family: $primary-font;
    color: $white;
}
hgroup h1{
    margin:25% 0 3% 0;
    font-size: 2.5em;
}
.info{
    @include flexCenter(row);
    margin-top: 2%;
    width: 30%;
        &__btn{
            @include defaultBtns;
            width: 100px;
            height: 35px;
            margin-right: 4%;
            cursor: pointer;
            border-radius: 35px;
            border: none;
            font-family: $Ubuntu;
            font-weight: map-get($font-weights, "extra-bold" );
        }
        &__btn:nth-child(1){
            background-color: $white !important;
            color: $light-red;
        }
        &__btn:nth-child(2){
            background-color: none;
            color: $white;
            border: 1px solid $white;
        }
        &__btn:nth-child(1):hover{
            background-color: $hover-light-red !important;
            color: $white;
        }
        &__btn:nth-child(2):hover{
            background-color: $white !important;
            color: $light-red;
        }
}
}
@import 'variables', 'mixins', 'resets'