@media screen and (min-width: 375px) and (max-width: 785px) {
    .home{
        @include flexCenter(row);
        max-width: 100vw;
        height: 80vh;
        position:relative;
        background: linear-gradient(
        to right, 
        rgba($first-red, 0.9),
        rgba($light-red, .9)
    ), url('/images/bg-pattern-intro.svg') 55% 50% no-repeat;
        border-bottom-left-radius: 60px;
        &__nav{
            @include flexCenter(column);
            position: absolute;
            margin-bottom: 46%;
        }
    &__logo{
        display: flex;
        margin: -50% 0 10% -70%;
        position: absolute;
        &__logo img{
            width: 30%;
        }
    }
    &__hamburger{
        display:block;
        position: absolute;
        margin: -50% 0 10% 90%;
        cursor:pointer;
    }
    &__close.active{
        display:block;
        position: absolute;
        margin: -40% 0 10% 90%;
        cursor:pointer; 
       }
}
.dropdown{
    display:none; 
    z-index: 999;
    margin-top: 90vh;
    min-width: 100%;
    min-height: 100%;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid red;

    &__wrapper{
    @include flexCenter(column);
    border: 1px solid red;
    gap: 150px;
}
        #{&}__btn{
            @include flexCenter(row);
            @include defaultBtns;
            border: 1px solid red;
            color: $dark-gray;
            padding: 14px;
            font-size: $font-size;
            border: 20px; 
            font-family: $Ubuntu;
            font-weight: map-get($font-weights, "extra-bold" );
            cursor:pointer;
        }
        &__btn:nth-last-child(1){
            margin: 10% 0 0 7%;
        }
        &__btn:nth-last-child(2){
            display:none;        }
        &__content{
            display:block;
            margin-top: -60%;
        }
}
.signin{
    @include flexCenter(column);
    gap: 10px;
    &__btn{
        @include defaultBtns;
        border: 1px solid red;
        width: 150px;
        height: 45px;
        margin-right: 3%;
        font-weight: map-get($font-weights, "extra-bold");
        }
        &__btn:nth-child(1){
            color: $dark-gray;
            font-size: $font-size;
            font-weight: map-get($font-weights, "extra-bold");
        }
        &__btn:nth-child(2){
            background: linear-gradient(to right, 
            rgba($first-red, 1),
            rgba($light-red, 1));
            color: $white;
            font-size: $font-size;
            font-weight: map-get($font-weights, "extra-bold");
        }
}
hgroup{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content:center;
    margin-left: 10%;
    margin-right:10%;
}
hgroup h1{
    font-size: 2.1em;
    font-weight: map-get($font-weights, "extra-bold");
}
hgroup h5{
    font-weight: map-get($font-weights, "light");
    font-size: 1em;
}
.info{
    @include flexCenter(row);
    position:absolute;
    margin: 90% 5% 0 5%;
    width: 280px;
    height: 13%;
    gap: 3px;
    #{&}__btn{
        font-size: .85em;
        font-weight: map-get($font-weights, "extra-bold");
        width: 120px;
        height: 40px;
    }
    &__btn:nth-child(2){
    border: 1px solid $white;
    }
}
.main{
    @include flexCenter(column);
    max-width: 100vw;
    background-position: 55% 15%  !important; 
    background-size: 95% !important;
    min-height: 165vh;
    margin-bottom: 30%;
    &__title{
        border: 1px solid red;
        position: absolute;
        top: 3%;
        font-size: 1.8em !important;
        font-weight: map-get($font-weights, "extra-bold") !important;
    }
    &__section{
        align-items: center;
        justify-content:center;
        top: 45%;
        position: absolute;
        max-width: 70%;
        border: 1px solid blue;
    }
    &__info{
        padding-left: 25%;
        text-align: center;
        font-size: .80em;
    }
    &__info h2{
        border: 1px solid red;
         text-align: center;
         padding: 10% 8% 2% 8%;
         font-weight: map-get($font-weights, "extra-bold");
    }
    &__info p{
        border: 1px solid red;
         text-align: center;
    } 
}
.section2{
    @include flexCenter(column);
    justify-content: space-between;
    max-width: 100vw;
    min-height: 95vh;
    &__info{
        min-width: 70%;
        margin: 36% auto 10% auto;
        border: 1px solid red;
    }
    &__info h1{
        font-size: 1.8em !important;
        margin-bottom: 0;
    }
    &__info h1, p{
        margin: auto;
        text-align: center;
        border: 1px solid blue;
    }
    &__img{
        width: 100vw;
        position:absolute;
        bottom: 70%;
        left: -8%;
    }
}
.main2{
    @include flexCenter(row);
    max-width: 100vw;
    min-height: 150vh;
    background-image: url('/images/illustration-laptop-desktop.svg');
    background-position: 55% 10% !important; 
    background-size: 95% !important;
    border: 1px red solid;
        &__section{
        @include flexCenter(column);
        justify-content: space-around;
        max-width: 100%;
        border: 1px solid blue;
        padding-top: 80%;
    }
        &__info{
            max-width: 70%;
            margin: 10% auto 10% auto !important;
            height: 60%;
            text-align: center;
            border: 1px solid green;
        }
        &__info h2, p{
        margin: auto;
        text-align: center;
        margin-left: 0 !important;
        
    }
}
.footer{
    display: flex;
    flex-direction: column !important;
    border: 1px solid blue;
    align-content: center !important;
    min-height: 150vh;

    &__title{
        padding-bottom: 5% !important;
    }
}
.footer ul{
    margin: auto !important;
    border: 1px border red;
    
}
.footer ul li{
    text-align: center;
    margin-bottom: 10% !important;
    border: 1px solid blue;


}
}
@import 'variables', 'mixins', 'resets';